<div class="auth-info">
  <label>Password:</label>
  <input [(ngModel)]="authState.password" placeholder="Enter Password..." />
  <label>API Key:</label>
  <input [(ngModel)]="authState.apiKey" placeholder="Enter Key..." />
  <button (click)="getData()" >
      <!-- [disabled]="!authState.password || !authState.apiKey" -->
    Calculate
  </button>
</div>

<div *ngIf="teamLogDictionary" class="matchup-summary-container">
  <matchup-summary *ngFor="let game of dailyGames"
    [game]="game"
    [awayTeamLogs]="teamLogDictionary | filterTeamLogs:game.awayTeam.Abbreviation"
    [homeTeamLogs]="teamLogDictionary | filterTeamLogs:game.homeTeam.Abbreviation"
    [sportsBookLines]="matchupLines | findMatchupSites:game">
  </matchup-summary>
</div>
